@model TutorMeNow.Models.Science

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Science</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScienceSubcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScienceSubcategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScienceTutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScienceTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScienceStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScienceStudent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScienceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
