@model IEnumerable<TutorMeNow.Models.Science>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScienceSubcategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScienceTutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScienceStudent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceSubcategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceTutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceStudent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ScienceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ScienceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ScienceId })
        </td>
    </tr>
}

</table>
