@model TutorMeNow.Models.FieldOfStudy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FieldOfStudy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Math)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Math)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Science)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Science)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
