@model TutorMeNow.Models.MathWordProblem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MathWordProblem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MathQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MathQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MathAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MathAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MathId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
