@model IEnumerable<TutorMeNow.Models.ScienceFlashcard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScienceQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScienceAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScienceAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScienceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScienceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScienceId })
        </td>
    </tr>
}

</table>
